{% extends "bootstrap/base.html" %}

{% block title %}{{super()}}Emily's Costumes - Official Store{% endblock %}
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Emily's Dog Store</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<head>
    <title>Emily's Dog Costumes - Services</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
    </header>
    <section id="pageContent">
        {% block section %}{% endblock %}
    </section>
    <footer>
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
    </footer>
</body>
{% endblock %}