<head>
    <title>Emily's Dog Costumes - Services</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
    </header>
    <section id="pageContent">
        <p>I offer custom dog costumes for your precious pooch, and in-home consultations. To, ya know, get measurements for your dog.</p>

        <p>We will work together to pick the perfect style to match your home's feng shui and, of course, your dog's personality.</p>
    </section>
    <footer>
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
    </footer>
</body>