{% extends "base2.html" %}
{% block title %}
    {{super()}}
    {% if username %}
        User {{ username }}
    {% endif %}
{% endblock title%}

{% block navbar %}
{{super()}}
{% endblock navbar %}

{% block page_content %}

<h1>Welcome to Ragtime {{ user.username }}</h1>
<br>
<br>
You have not yet confirmed your account.
<br>
<br>
We would love for you to join our community! Before you do, however, you'll need to confirm your account with us first.
<br>
<br>
Please check your inbox, and look for an email with a confirmation link.
<br>
<br>
If you need a new one, no problem! Just <a href={{ url_for("auth.confirm", token=token, _external=True) }}>click here</a> and we'll send you a new one.

{% endblock page_content %}