<head>
    <title>Emily's Dog Costumes - My Costumes</title>
    <meta name="description" content="Emily's Dog Costumes">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
    </header>
    <section id="pageContent">
        <main role="main">
            <article>
                <h2>Skeleton</h2>
                <img class="costume" src='/static/skeleton.jpg'>
                <p>This style is great if you are feeling something extra spooky for your pooch.</p>
            </article>
        </main>
    </section>
    <footer>
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
    </footer>
</body>